@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Search Investigation Version 1.0.  To collect results of a search from more than one search engine.</p>
